.title__block {
  @apply flex justify-between gap-[20px] items-center;
}

.title {
  @apply text-[20px] font-bold;
}

.order__number {
  @apply text-gray-light text-[14px];
}

.product__wrapper {
  @apply border border-[#D9D9D9] rounded-[4px] p-[30px] text-gray-light mt-[40px] max-w-[500px] w-full;
}


.quantity {
  @apply text-gray font-bold;
}

.total__amount {
  @apply mt-[20px];
}

.total {
  @apply font-bold text-gray;
}

.order__contents {
  @apply flex gap-[5px] mt-[20px] text-gray;
}

.order__contents_arrow {
  @apply mt-[10px] cursor-pointer transition-transform;
}

.order__contents_arrow.active {
  @apply transform rotate-180;
}

.products {
  @apply flex flex-col gap-[15px] mt-[0] opacity-0 invisible max-h-0 pr-[15px] transition-all duration-300 overflow-auto;
}

.products.show {
  @apply opacity-100 visible max-h-[240px] mt-[20px];
}






.products::-webkit-scrollbar {
  width: 4px;               
}

.products::-webkit-scrollbar-track {
  background: rgba(77, 77, 77, 0.2);
  border-radius: 5px; 
  margin: 10px 0px;
}

.products::-webkit-scrollbar-thumb {
  background-color: #fff;   
  border-radius: 5px;       
  border: 3px solid rgba(77, 77, 77, 0.4);  
}
