.modal-backdrop {
  background: rgba(68, 75, 88, 0.7);
  --bs-backdrop-bg: 0;
  --bs-backdrop-opacity: 1;
}

.modal-content {
  border: 0;
}


@media (min-width: 992px) {
  .modal-lg, .modal-xl {
      max-width: 1240px;
      width: 100%;
  }
  .dialog {
    padding-left: 40px !important;
  }
}

@media (max-width: 576px) {
  .modal-dialog {
      max-width: 640px;
      width: 100%;
  }
}